ul {
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}
@media (min-width: 768px) {
  ul {
    width: 100px;
  }
}

li {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
